@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body::-webkit-scrollbar { display: none; }



body{
  margin: 0;
}

p{
  margin: 20px;
  font-size: 1.5rem;
font-family: 'Oswald', sans-serif;
}

.header{
  background-image: url("../../Assets/Spaceheader.jpg");
  height: 100vh;
  width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
  margin-bottom: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.txt-wl{
  color: #FFF;
  font-size: 1.5rem;

}

.container{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #f1f1f1;
  background-color: #000;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
/* ------------------- Arrow ---------------------------- */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -63px;
	bottom: 20px;
}

.arrows path {
	stroke: #f1f1f1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*------------------------  Media screen --------------------------------- */


@media only screen and (max-width: 800px) {

  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

}