@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

p{
  margin: 20px;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}
.disp1 {
  display: flex;
  flex-direction: column;
  background-image: url(../../Assets/sunrise-1030592.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.disp {
  display: flex;
  flex-direction: column;
  margin-top: 16vh;
}

.containerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}
.Title-style{
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  font-family: 'Oswald', sans-serif;
}

.card{
  width: 90vw;
  border-radius: 40px;
  background-color: #3b163c29;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}