/* *{
  border: solid 1px;
} */
.milas {
  height: 150px;
  width: 150px;
}
.navbar {
  background: #1b1919;
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;

}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.main-header {
  background-color: rgba(17, 13, 72);
  min-height: 3.5rem;
  box-shadow: 0 0 10px 0 rgba(128, 11, 174, 0.296);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
  position: fixed;
    top: 0;
    width: 100%;
}

.main-nav ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin-right: 5em;
}
.main-nav a:hover {
  background: #9403f4;
  box-shadow: 0 0 5px #9403f4, 0 0 25px #9403f4, 0 0 50px #9403f4,
    0 0 100px #9403f4;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(10, 0, 0);
  border-radius: 2px;
}

@media only screen and (max-width: 800px) {
  .toggle-button {
    position: absolute;
    right: 30px;
    top: 55px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 40px;
    cursor: pointer;
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .main-nav li {
    padding: 0.6rem 0;
  }
  .main-nav a {
    padding: 0;
  }
  .main-nav ul.active {
    display: flex;
  }
}
